/* Minified CSS */
*,
nav ul {
  margin: 0;
  padding: 0;
}
.coverPage,
.welcomeImgBkg {
  background-repeat: no-repeat;
  background-size: cover;
}
.description ul,
.facebook,
nav ul li a {
  text-decoration: none;
}
.cnct,
.contact-title,
.error,
.welcome,
header {
  text-align: center;
}
.cnct,
.label-boxes {
  background-color: #d3d3d3ab;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.about,
.contact,
.contact-container,
.coverPage,
.servicesNav,
.submit,
nav {
  display: flex;
}
* {
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}
header {
  background-color: #44693d;
  padding: 10px;
  height: 100px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.coverPage {
  background-image: url(LGlogo.svg);
  image-rendering: -webkit-optimize-contrast;
  height: 100vh;
}
nav {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.navLogo {
  height: 75px;
  width: auto;
}
nav ul {
  list-style-type: none;
  font-weight: 700;
}
nav ul li {
  display: inline-block;
  margin-right: 10px;
}
nav ul li a {
  color: #fff;
  font-weight: 600;
}
.abtNav,
.cnctNav,
.homeNav,
.servNav {
  color: #fff;
}
.contact-title,
.servicesTitle {
  color: #507d2a;
  font-weight: 900;
}
.main {
  max-width: 960px;
  margin: 20px auto;
  padding: 0 20px;
}
.welcome {
  padding: 100px 0;
}
.welcome h1 {
  font-size: 36px;
  margin-bottom: 20px;
}
.about {
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 40px;
}
.owner {
  margin-right: 20px;
}
.owner img {
  width: 200px;
  border-radius: 50%;
  margin: 50px;
}
.cnct h2,
.cnct p,
.description h2 {
  margin-bottom: 10px;
}
.description {
  max-width: 600px;
}
.description img {
  height: 2rem;
  margin-top: 10px;
}
.description h2 {
  font-size: 24px;
}
.description p {
  font-size: 16px;
}
.description h4 {
  font-weight: 500;
}
.description ul {
  list-style: none;
  padding: 10px;
}
.welcomeImgBkg {
  background-image: url(frontPageImgs/coverImg2.jpg);
}
.ownerImg {
  max-height: 50vh;
}
.contact {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-padding-top: 60px;
}
.contact-title {
  font-size: 3rem;
  padding: 0 10px 20px;
}
.servicesTitle {
  font-size: 6rem;
}
.label,
.request {
  font-weight: 600;
}
.contact-container {
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 75%;
}
.close,
.icons {
  height: 2rem;
}
.facebook {
  color: #000;
}
.cnct {
  width: 75%;
  padding: 20px;
}
.cnct h2 {
  font-size: 20px;
}
.cnct p {
  font-size: 16px;
}
.label-boxes {
  width: 75%;
  padding-left: 3rem;
  padding-right: 3rem;
}
.label {
  color: #000;
  font-size: 1rem;
  width: 100%;
  padding: 0.5rem;
}
.input {
  padding: 10px;
  border: 1px solid rgba(11, 85, 85, 0.2);
  box-shadow: 0 3px 4px rgba(163, 163, 163, 0.44);
  border-radius: 1rem;
}
.input,
input,
textarea {
  background: #eee;
}
.input textarea {
  height: 250px;
}
.input input,
.input textarea {
  width: 100%;
  font-size: 1rem;
  border: none;
}
.request {
  color: #333;
  font-size: 0.8rem;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.error,
.thank {
  font-weight: 500;
}
.submit {
  align-items: center;
  justify-content: center;
}
.hero,
.services,
.thankyou {
  width: 100%;
  flex-direction: column;
}
.submit-btn {
  background: #44693d;
  border-radius: 1rem;
  font-size: 1rem;
  color: #fff;
  padding: 25px 40px;
  margin: 40px;
}
.submit-btn:disabled {
  background: grey;
  cursor: not-allowed;
}
.error {
  color: #d42424;
  padding-top: 4rem;
  font-size: 2rem;
}
.thank,
.will-contact {
  color: #44693d;
  font-size: 2.5rem;
  text-align: center;
}
.services,
.thankyou {
  position: fixed;
  height: 100%;
  top: 100px;
  left: 0;
  background-color: #fff;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}
.subtitle {
  margin-top: 25px;
  margin-bottom: 25px;
}
.lgServ {
  width: 100%;
  margin-bottom: 100px;
}
.servicesNav {
  justify-content: flex-start;
}
.invisible,
.mobileServ {
  display: none;
}
.hero {
  height: 50%;
  text-align: center;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-close {
  padding-top: 120px;
  padding-right: 25px;
  align-self: flex-end;
}
.thank-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-bottom: 386px;
}
.thank {
  font-family: Inter, sans-serif;
  border-bottom: 2px solid #bebebe;
  padding: 125px 70px 20px;
}
.will-contact {
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
@media (max-width: 1100px) {
  .coverPage {
    background-image: url(MDlogo.svg);
  }
}
@media (max-width: 800px) {
  .description,
  .description h2,
  .provided-services ul {
    text-align: center;
  }
  body {
    display: inline-block;
  }
  .intro {
    width: 100%;
    height: 40%;
  }
  .man {
    height: 75%;
  }
  .cnct,
  .contact-container,
  .label-boxes {
    width: 90%;
  }
  .servicesTitle {
    font-size: 3rem;
  }
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .description {
    padding: 25px;
  }
}
@media (max-width: 700px) {
  .coverPage {
    background-image: url(SMlogo.svg);
  }
}
@media (max-width: 550px) {
  .coverPage {
    background-image: url(mobileLogo.svg);
  }
  .subtitle {
    font-size: 1rem;
  }
  .lgServ {
    display: none;
  }
  .mobileServ {
    display: block;
    width: 100%;
    margin-bottom: 100px;
  }
}

/* Reset default styles 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

header {
  background-color: #44693d;
  padding: 10px;
  text-align: center;
  height: 100px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.coverPage {
  background-image: url(LGlogo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: -webkit-optimize-contrast;
  height: 100vh;
  display: flex;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLogo {
  height: 75px;
  width: auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.homeNav,
.abtNav,
.servNav,
.cnctNav {
  color: white;
}

.main {
  max-width: 960px;
  margin: 20px auto;
  padding: 0 20px;
}

.welcome {
  text-align: center;
  padding: 100px 0;
}

.welcome h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
}

.owner {
  margin-right: 20px;
}

.owner img {
  width: 200px;
  border-radius: 50%;
  margin: 50px;
}

.description {
  max-width: 600px;
}

.description img {
  height: 2rem;
  margin-top: 10px;
}

.description h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.description p {
  font-size: 16px;
}

.description h4 {
  font-weight: 500;
}

.description ul {
  list-style: none;
  text-decoration: none;
  padding: 10px;
}

.welcomeImgBkg {
  background-image: url(frontPageImgs/coverImg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  margin-top: 50px;
  margin-bottom: 40px;
}

.ownerImg {
  max-height: 50vh;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-padding-top: 60px;
}

.contact-title {
  font-size: 3rem;
  color: #507d2a;
  font-weight: 900;
  text-align: center;
  padding: 0 10px 20px;
}

.servicesTitle {
  font-size: 6rem;
  color: #507d2a;
  font-weight: 900;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 75%;
}
.icons {
  height: 2rem;
}

.facebook {
  text-decoration: none;
  color: black;
}

.cnct {
  width: 75%;
  padding: 20px;
  text-align: center;
  background-color: #d3d3d3ab;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cnct h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.cnct p {
  font-size: 16px;
  margin-bottom: 10px;
}

.label-boxes {
  width: 75%;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: #d3d3d3ab;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.label {
  color: black;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  padding: 0.5rem;
}

.input {
  padding: 10px 10px;
  border: 1px solid rgba(11, 85, 85, 0.2);
  box-shadow: 0px 3px 4px rgba(163, 163, 163, 0.44);
  border-radius: 1rem;
}

.input,
input,
textarea {
  background: #eeeeee;
}

.input textarea {
  height: 250px;
}

.input input,
.input textarea {
  width: 100%;
  font-size: 1rem;
  border: none;
}
.request {
  color: #333;
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-btn {
  background: #44693d;
  border-radius: 1rem;
  font-size: 1rem;
  color: white;
  padding: 25px 40px;
  margin: 40px;
}

.submit-btn:disabled {
  background: grey;
  cursor: not-allowed;
}

.error {
  color: #d42424;
  text-align: center;
  padding-top: 4rem;
  font-size: 2rem;
  font-weight: 500;
}

.thankyou,
.services {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 35px;
  left: 0;
  background-color: white;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.services {
  top: 100px;
}

.subtitle {
  margin-top: 25px;
  margin-bottom: 25px;
}

.lgServ {
  width: 100%;
  margin-bottom: 100px;
}

.servicesNav {
  display: flex;
  justify-content: flex-start;
}

.mobileServ {
  display: none;
}

.hero {
  width: 100%;
  height: 50%;
  text-align: center;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.invisible {
  display: none;
}

.img-close {
  padding-top: 120px;
  padding-right: 25px;
  align-self: flex-end;
}

.close {
  height: 2rem;
}

.thank-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-bottom: 386px;
}

.thank {
  color: #44693d;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
  border-bottom: 2px solid #bebebe;
  padding: 125px 70px 20px 70px;
}

.will-contact {
  color: #44693d;
  font-size: 2.5rem;
  text-align: center;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

@media (max-width: 1100px) {
  .coverPage {
    background-image: url(MDlogo.svg);
  }
}

@media (max-width: 800px) {
  /* inline block prevents body 
  white space shrinking when screen size gets smaller
  body {
    display: inline-block;
  }

  .intro {
    width: 100%;
    height: 40%;
  }

  .man {
    height: 75%;
  }

  .provided-services ul {
    text-align: center;
  }

  .cnct,
  .label-boxes {
    width: 90%;
  }

  .servicesTitle {
    font-size: 3rem;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .description {
    padding: 25px;
    text-align: center;
  }

  .description h2 {
    text-align: center;
  }

  .contact-container {
    width: 90%;
  }
}

@media (max-width: 700px) {
  .coverPage {
    background-image: url(SMlogo.svg);
  }
}

@media (max-width: 550px) {
  .coverPage {
    background-image: url(mobileLogo.svg);
  }
  .subtitle {
    font-size: 1rem;
  }
  .lgServ {
    display: none;
  }
  .mobileServ {
    display: block;
    width: 100%;
    margin-bottom: 100px;
  }
}
*/
